html, body {
  margin: 0;
  padding: 0;
}

.console, .editor {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
}

.console {
  background-color: #4D5043;
  left: 50%;
  color: white;
}

 #editor { 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.controls {
  position: absolute;
  z-index: 100;
  bottom: 0;
  right: 50%;
}